.idea/
.vscode/
.venv/
env/
venv/

__pycache__/
*.pyc

logs/
outputs/
wandb/

checkpoints/
*.pth
*.pt

OfficeHomeDataset/
TerraIncognitaDataset/
data/

tsne/
dump_*.py

--ckpt
--source

.DS_Store
Thumbs.db
